html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header, footer {
    height: auto;
    width: 100%;
    background-color: rgb(176, 248, 248);
    float: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerTitle {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 10%;
    max-width: 30%;
    min-height: 30%;
    float: left;
    background-color: white;
    text-align: left;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerDescription {
	margin-right: 50px;
	margin-top: 15px;
	margin-bottom: 15px;

    width: 50%;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;   
}


h3 {
    margin: 3%;
}

.footerTitle {
    margin-right: 5%;
    width: 20%;
    min-height: 33%;
    float: right;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footerDescription {
    padding: 2%;
    width: 60%;
    float: left;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

ol li {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    justify-content: center;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    background-image: url(img/manga.png);
}

.content {
	float: none;
    display: flex;
    justify-content: space-between;
}

.content > div {
	width: 33.33%;
}

.colorPink {
	background-color: rgb(243, 170, 174);
	padding: 10px;
	text-align: center;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.colorGeen {
	background-color: rgb(170, 243, 192);
	padding: 10px;
	text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}